.button {
    display: flex;
    background-color: #A16015; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    height: min-content;
    margin: 5%;
    justify-content: center;
  }

.button:hover {
  background-color: #D94F04;
}

.anchor-button{
  display: flex;
  background-color: #F29325; 
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  width: 180px;
  border-radius: 5px;
  height: min-content;
  margin: 5%;
  justify-content: center;
}

.anchor-button:hover {
  background-color: #D94F04;
}

.button-wrap{
  display: flex;
  justify-content: center;
}