.primary {
  padding: 10px 30px;
  font-size: 1.2vw;
  border-radius: 4px;
  min-height: 5vh;
}

.secondary {
  background-color: #676767;
  border: 0px;
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 4px;
}

/*Temporary change for visual aid on pagination*/
.primary:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}
