.container {
    height: 110vh;
    width: 34.7vw;
    border-radius: 50px;
    background-color: #ebebeb;
    padding-top: 2%;
    text-align: center; 
    margin: 10vh auto 10vh auto;
}

.wrapper {
    margin: 0 12.8%;
}

.title {
    font-size: 2.7vw;
}
