.container {
    overflow-x:auto;
    max-height: 45vh;
}

.container table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.container thead {
    border-bottom: 2px solid black;
    font-size: 1.3vw;
}

.container tbody {
    font-size: 1.2vw;
}
.container th, .container td {
    text-align:left;
    padding: 8px;
    border: 1px solid #DEE2E6;
}

.container button {
    background-color: transparent;
    color: #007172;
    border: none;
    cursor: pointer;
    padding: 0;

}