.wrapper {
    background-color: #ebebeb;
    border-radius: 25px;
    padding: 1% 2%;
    border: solid 1px #adadad;
}

.title {
    font-size: 2.5vw;
}

.contentWrapper p {
    font-size: 1.1vw;
}

.interactionContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
