.container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    width: 42%;
    padding: 10px 0 10px  30px;
}

.amount {
    font-weight: bold;
    font-size: 6vw;
}

.text {
    margin-left: 10px;
    font-size: 2vw;
}