.mainContainer {
    width: 90vw;
    margin: 30px auto;
    height: 70vh;
}

.mainContainer h1 {
    font-size: 2.7vw;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compact {
    margin: 0;
}
.heading {
    margin: 10px 0;
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3vw;
}