.personal{
    visibility: visible;
    display: inherit;
}

.location{
    visibility: visible;
    display: inherit;
}

.welcome{
    visibility: visible;
    display: inherit;
}

.hidden {
    visibility: hidden;
    height: 0;
    width: 0;   
}

.error-message{
    color: #D94F04;
}

body {
    margin: 0;
}

.reg-text{
    display: inherit;
    flex-wrap: nowrap;
    font-size: 0.9vw;
    font-weight: 100;
}

.logo-img{
    display: flex;
    justify-content: center;
    background-image: url('../../assets/Semitec_logoSuite/semitec_logo_300px_color.png');
    background-size: contain;
    width: 100%;
    height: 160px;
    flex-grow: 4;
    background-repeat: no-repeat;
    margin-top: 25%;
    margin-left: 25%;
}

.signup-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-end;
    font-size: 25px;
    font-weight: bolder;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top: 0%;
}

.signup{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.field-error{
    font-size: 0.9vw;
    font-weight: 100;
}

.buttons-container{
    display: flex;
}

.bg-size {
    display: inherit;

}

.bg-image {
    background-image: url('../../assets/bg_images/signup_img.png');
}

.wave-img{
    display: inherit;
    background-image: url('../../assets/bg_images/4bWGjBbhQpmQVu1Tzs.webp');
    background-size: contain;
    width: 100%;
    height: 160px;
    flex-grow: 4;
    background-repeat: no-repeat;
    margin-left: 69%;
}


.welcome-header{
    display: inherit;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 950;
    width: 100%;
    padding-top: 15%;
    color: #555555;
}

.welcome-text{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 950;
    width: 100%;
    color: #555555;
}

.final-anchor-button{
    display: flex;
      background-color: #F29325; 
      border: none;
      color: white;
      padding: 15px;
      justify-content: center;
      text-decoration: none;
      font-size: 32px;
      width: 180px;
      border-radius: 5px;
      height: min-content;
      margin-bottom: 5%;
      margin-left: auto;
  }

.doggo{
    margin-left: auto;
    margin-bottom: 0%;
    margin-left: 70%;
}
  
  .final-anchor-button:hover {
    background-color: #D94F04;
  }

  .form-styling{
    width: 100%;
    font-size: 1.3vw;
}

.login-text {
    display: inherit;
    font-size: 1.3vw;
    font-weight: 100;
}