.startButton {
    background-color: #F29325;
    border: 0px;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 4px;
}

.buttonContainer {
    margin-top: 4vw;
    width: 100%;
    text-align: center;
}

.wrapper {
    width: 100%;
    margin-bottom: 2vw;
}