.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 10px 30px;
    height: 11vh;
}

.lessonCardContainer {
    display: flex;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}


.itemInfo {
    padding: 10px 10px 20px 20px;
    width: 100%;
}

.active {
    border: 2px solid #F29325;
}

.medium {
    font-size: 1.3vw;
    font-weight:600;
}

.medium, .middle {
    font-size: 1.3vw;
    height: 40%;
}

.details {
    font-size: 1.3vw;
    font-weight:600;
    display: flex;
    direction: rtl;
}

.imgCustom {
    vertical-align: middle;
    height: 80%;
    width: 80%;
    margin: 0 0 0 0;
}

.icon {
    height: 3vh;
    width: 3vw;
}