.mainWrapper {
    display: flex;
    justify-content: center;
    gap:1vw; 
    margin: 20px auto;
}

.halfScreenContainer {
  padding: 0 20px;
  padding-bottom: 10px;
  width: 45vw;
  height: 70vh;
  border-radius: 10px;
  border: solid 1px #e6e6e6;
}

.column {
    display: flex;
    gap: 20px;
}

.searchForm {
    display: flex;
    align-items: center;
}

.labelDiv {
    width: 30%;
}

.labelDiv label {
    font-size: 1.5vw;
}

.inputDiv {
    display: flex;
    width: 70%;
}

.inputDiv input {
    padding: 10px;
    border: 1px solid grey;
    border-right: none;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
    font-size: 1.2vw;
}

.inputDiv:focus-within input {
    outline: none;
}

.searchButton {
    border-radius: 0 5px 5px 0;
}

.clearButton {
    border: solid 1px gray;
    border-left: none;
    border-radius: 0 0 0 0;
    background-color:white;
}


.lessonListContainer {
    flex-direction: column;
    max-height: 60%;
    overflow-y: auto;
}


.lessonList {
    list-style-type: none;
    padding-left: 0;
}

.lessonList li {
    margin: 10px 0;
}

.lessonList li:first-child {
    margin-top: 0;
}
.lessonList li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.buttonContainer {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: space-around;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}